# mod-well-math file for scenario2 of 2007 
F:\dnr\RRCA\RRCA_Directory_Structure\Culbertson\whole_zone.txt 
F:\dnr\RRCA\RRCA_Directory_Structure\Culbertson\LMUO\2007.wel.base 
F:\dnr\RRCA\RRCA_Directory_Structure\Culbertson\Culbertson.wel 
F:\dnr\RRCA\RRCA_Directory_Structure\Culbertson\LMUO\2007.wel 
FREE 
FREE 
FREE 
12 
1 
1 1.0 1.0
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1